body {
    font-family: 'Tomorrow', 'sans-serif';
    margin: auto;
    max-width: 500px;
}

.img {
    width: 130px;
 
}
.products {
    display: grid;
    grid-column: 1 fr;
    border-top: solid;
    border-bottom: solid;
    border-left: solid;
    border-right: solid;
}
.list {
    
}
li{

}





