body {
    font-family: 'Tomorrow', 'sans-serif';
    background-color: whitesmoke;
}

* {
    box-sizing: border-box;
}

.img {
    width: 130px;
    height: 200px;
}

@keyframes moveheader2 {
    0% {
        opacity: 0;
        transform: translateX(10px);
    }

    70% {
        background-image: linear-gradient(to right bottom,rgb(ee0, 114, 255,0.5),#1e4d8e), url(../img/gh6.jpg);
    }

    80% {
        background-image: linear-gradient(to right bottom,rgb(000, fff, 255,0.5),#000), url(../img/gh6.jpg);
    }

    90% {
        background-image: linear-gradient(to right bottom,rgb(a00, f0f, 055,0.5),#1e4d8e), url(../img/gh6.jpg);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveheader {
    0% {
        opacity: 0.7;
        transform: translateX(0px);
    }

    70% {
        background-image: linear-gradient(to right bottom,rgb(ee0, 114, 255,0.5),#1e4d8e), url(https://media.giphy.com/media/xECun4ULC98Uo/giphy.gif);
    }

    80% {
        background-image: linear-gradient(to right bottom,rgb(000, fff, 255,0.5),#000), url(https://media.giphy.com/media/xECun4ULC98Uo/giphy.gif);
    }

    90% {
        background-image: linear-gradient(to right bottom,rgb(a00, f0f, 055,0.5),#1e4d8e), url(../img/gh6.jpg);
    }

    100% {
        opacity: .9;
        transform: translate(0);
    }
}
    .header {
        height: 45vh;
        background-image: linear-gradient(to right bottom,rgb(000, 114, 255,0.9),#1e4d8e), url(https://media.giphy.com/media/xECun4ULC98Uo/giphy.gif);
        animation: moveheader .0s ease-out 0s;
        animation-fill-mode: backwards;
        animation-duration: 0s;
        animation-delay: 2s;
        animation-iteration-count: 1;
        background-size: cover;
        background-position: top;
        position: relative;
        clip-path: polygon(0 5%,100% 0,100% 75vh,0 100%);    
    }

    .header2 {
        height: 45vh;
        background-image: linear-gradient(to right bottom,rgb(080, 014, 255,0.4),#1e4d8e), url(../img/gh66.jpg);
        animation: moveheader .0s ease-out 0s;
        animation-fill-mode: backwards;
        animation-duration: 0s;
        animation-delay: 2s;
        animation-iteration-count: 1;
        background-size: cover;
        background-position: top;
        position: relative;
        clip-path: polygon(0 5%,100% 0,100% 75vh,0 100%);
    }

    .text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }

    .heading-primary {
        color: #fff;
        text-transform: uppercase;
        backface-visibility: hidden;
        margin-bottom: 30px;
    }

    .header-primary-main2 {
        color: #3cf784;
        font-size: 45px;
        animation-name: moveInRight;
        animation-duration: 5s;
        animation-delay: 12s;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
        color: #3cf784;
    }

    .header-primary-main {
        display: block;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 25px;
        color: #f4f5f2;
        animation-name: moveInLeft;
        animation-duration: 3s;
        animation-delay: 7s;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
    }

    .header-primary-main2 {
        color: #3cf784;
        font-size: 45px;
        animation-name: moveInRight;
        animation-duration: 5s;
        animation-delay: 12s;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
        color: #3cf784;
    }

    .header-primary-sub {
        display: block;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 20.4px;
        animation-name: moveInRight;
        animation-duration: 4s;
        animation-delay: 8s;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
        color: #fbfdf9;
    }

    .header-primary-sub2 {
        display: block;
        font-size: 20px;
        font-weight: 700;
        color: #f5f7f3;
        letter-spacing: 30.2px;
        animation-name: moveInLeft;
        animation-duration: 7s;
        animation-delay: 7s;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
    }

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translate(-100px) rotate(0deg);
    }

    60% {
        transform: rotate(0deg);
    }

    80% {
        transform: translate(20px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}


@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translate(100px);
    }

    80% {
        transform: translate(-20px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBoton {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }



    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .4s;
    position: relative;
    font-size: 1rem;
    color: #1550d4;
}

.btn-white {
    background-color: #000;
    color: #777;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 70px 170px #3cf784 .2px;
    color: #3cf784;
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 70px 170px rgba(0,0,0,.2);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .6s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4)scaleY(1.6);
    opacity: 0;
}


@keyframes movebotton {
    0% {
        opacity: 0;
        transform: translateY(-100);
    }

    80% {
        transform: translateY(20);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}



hr {
    display: block;
    background: #00ff33;
    margin: 0 auto;
    height: 15px;
    width: 100%;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
}

    .body {
        min-height: 100%;
        margin-bottom: -330px;
        position: relative;
    }

    .body > .flex-container {
        display: flex;
        flex-flow: row wrap;
        padding-top: 25px;
        justify-content: space-between;
    }


    .flex-container > .flex-item {
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(to right bottom, rgb(9, 0, 128, 0.5), #09099D);
        color: whitesmoke;
        width: 30%;
        align-items: center;
        justify-content: center;
        margin: 10px;
        -moz-box-shadow: 0px 6px 5px rgb(121, 118, 118);
        -webkit-box-shadow: 0px 6px 5px rgb(121, 118, 118);
        box-shadow: 0px 6px 5px rgb(121, 118, 118);
        -moz-border-radius: 15px 50px 30px;
        -webkit-border-radius: 15px 50px 30px;
        border-radius: 15px 50px 30px;
    }

    .flex-item > .img {
        align-self: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #footer {
        position: fixed;
        left: 0px;
        bottom: 0px;
        height: 30px;
        width: 100%;
        background: #999;
    }

    fieldset, label {
        margin: 0;
        padding: 0;
    }
    /****** Style Star Rating Widget *****/
    .rating {
        border: none;
        float: left;
    }

    .rating > input {
        display: none;
    }

    .rating > label:before {
        margin: 5px;
        font-size: 1.25em;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f005";
    }

    .rating > .half:before {
        content: "\f089";
        position: absolute;
    }

    .rating > label {
        color: #ddd;
        float: right;
    }
    /***** CSS Magic to Highlight Stars on Hover *****/
    .rating > input:checked ~ label, /* show gold star when clicked */
    .rating:not(:checked) > label:hover, /* hover current star */
    .rating:not(:checked) > label:hover ~ label {
        color: #FFD700;
    }
    /* hover previous stars in list */
    .rating > input:checked + label:hover, /* hover current star when changing rating */
    .rating > input:checked ~ label:hover, .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
    .rating > input:checked ~ label:hover ~ label {
        color: #FFED85;
    }