body {
    font-family: 'Tomorrow', 'sans-serif';
}

* {
    box-sizing: border-box;
}

.img {
    width: 130px;
    height: 200px;
}

.header {
    top: 0;
    width: 100%;
    background-color: #F1F1F1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

.body > .flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-container > .flex-item {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color:darkblue;
    color: whitesmoke;
    box-shadow: 10px 10px lime ;
    padding: 10px;
    width: calc(100% * (1/3) - 10px - 1px);
    margin: 10px;
}

    .flex-item > .img {
        align-self: center;
        padding-top: 10px;
    }


.footer {
    background-color: #F1F1F1;
    position: absolute;
    width: 100%;
    height: 60px;
    padding: 10px;
    text-align: center;
    bottom: 0;

}
fieldset, label {
    margin: 0;
    padding: 0;
}

body {
}




/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: left;
}

    .rating > input {
        display: none;
    }

    .rating > label:before {
        margin: 5px;
        font-size: 1.25em;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f005";
    }

    .rating > .half:before {
        content: "\f089";
        position: absolute;
    }

    .rating > label {
        color: #ddd;
        float: right;
    }

    /***** CSS Magic to Highlight Stars on Hover *****/

    .rating > input:checked ~ label, /* show gold star when clicked */
    .rating:not(:checked) > label:hover, /* hover current star */
    .rating:not(:checked) > label:hover ~ label {
        color: #FFD700;
    }
        /* hover previous stars in list */

        .rating > input:checked + label:hover, /* hover current star when changing rating */
        .rating > input:checked ~ label:hover,
        .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
        .rating > input:checked ~ label:hover ~ label {
            color: #FFED85;
        }