
html {
    font-size: 14px;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #3cf784;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #09099d;
    border-radius: 10px;
}

body {
    font-family: "Lato",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 30px;
    box-sizing: border-box;
    background-color: black;
}

@keyframes moveheader2 {
    0% {
        opacity: 0;
        transform: translateX(390px);
    }

    70% {
        background-image: linear-gradient(to right bottom,rgb(ee0, 114, 255,0.5),#1e4d8e), url(../img/gh6.jpg);
    }

    80% {
        background-image: linear-gradient(to right bottom,rgb(000, fff, 255,0.5),#000), url(../img/gh6.jpg);
    }

    90% {
        background-image: linear-gradient(to right bottom,rgb(a00, f0f, 055,0.5),#1e4d8e), url(../img/gh6.jpg);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveheader {
    0% {
        opacity: 0;
        transform: translateX(-390px);
    }

    70% {
        background-image: linear-gradient(to right bottom,rgb(ee0, 114, 255,0.5),#1e4d8e), url(https://media.giphy.com/media/xECun4ULC98Uo/giphy.gif);
    }

    80% {
        background-image: linear-gradient(to right bottom,rgb(000, fff, 255,0.5),#000), url(https://media.giphy.com/media/xECun4ULC98Uo/giphy.gif);
    }

    90% {
        background-image: linear-gradient(to right bottom,rgb(a00, f0f, 055,0.5),#1e4d8e), url(../img/gh6.jpg);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.header33 {
    height: 95vh;
    background-image: linear-gradient(to right bottom,rgb(EEE, 000, 055,1),#1e4d8e), url(https://cdn.hipwallpaper.com/i/51/81/fniMWN.jpg);
    animation: .10s ease-out 10s;
    animation-fill-mode: backwards;
    animation-duration: 8s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 5%,100% 0,100% 75vh,0 100%);
    &__logo-box

{
    position: :absolute;
    top: 40px;
    left: 40px;
}

}

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,rgb(000, 114, 255,0.9),#1e4d8e), url(https://media.giphy.com/media/xECun4ULC98Uo/giphy.gif);
    animation: moveheader .20s ease-out 20s;
    animation-fill-mode: backwards;
    animation-duration: 8s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 5%,100% 0,100% 75vh,0 100%);
    &__logo-box

{
    position: :absolute;
    top: 40px;
    left: 40px;
}

}

.header2 {
    height: 95vh;
    background-image: linear-gradient(to right bottom,rgb(080, 014, 255,0.5),#1e4d8e), url(../img/gh6.jpg);
    animation: moveheader .30s ease-out 30s;
    animation-fill-mode: backwards;
    animation-duration: 8s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 5%,100% 0,100% 75vh,0 100%);
    &__logo-box

{
    position: :absolute;
    top: 40px;
    left: 40px;
}

}



.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}


.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 30px;
}

.header-primary-main2 {
    color: #3cf784;
    font-size: 45px;
    animation-name: moveInRight;
    animation-duration: 5s;
    animation-delay: 20s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    color: #3cf784;
}

}
}

.header-primary-main {
    display: block;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 25px;
    color: #f4f5f2;
    animation-name: moveInLeft;
    animation-duration: 5s;
    animation-delay: 10s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

.header-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 20.4px;
    animation-name: moveInRight;
    animation-duration: 8s;
    animation-delay: 12s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    color: #fbfdf9;
}

.header-primary-sub2 {
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: #f5f7f3;
    letter-spacing: 30.2px;
    animation-name: moveInLeft;
    animation-duration: 12s;
    animation-delay: 12s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translate(-100px) rotate(0deg);
    }

    60% {
        transform: rotate(0deg);
    }

    80% {
        transform: translate(20px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}


@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translate(100px);
    }

    80% {
        transform: translate(-20px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBoton {
    0% {
        opacity: 0;
        transform: translateY(-70px);
        80%

{
    transform: translateY(-20px);
}

100% {
    opacity: 1;
    transform: translateY(0);
    transform: translate(0);
    position: absolute;
    top: 94%;
    left: 78%;
}

}



100% {
    opacity: 1;
    transform: translate(0);
}

}

.button0 {
    transform: translate(0);
    position: absolute;
    top: 90%;
    left: 42.4%;
    opacity: .7;
}

.button1 {
    transform: translate(0);
    position: absolute;
    top: 74%;
    left: 70.0%;
    opacity: .7;
}


.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .4s;
    position: relative;
    font-size: 1rem;
    color: #cbd0e0;
}

.btn-white {
    background-color: #fff;
    color: #fff;
    transform: translate(0);
    height: 40px;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 70px 170px rgba($color-lightgreen,.2);
    color: #e9ecf7;
    border: .5px solid #1749d1; /* Green */
    background-color: #000;
    height: 50px;
    background-image: url("https://media3.giphy.com/media/x45I8CY1Vs45G/giphy.gif" );
    background-size: 150px 100px;
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 70px 170px rgba(0,0,0,.2);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .6s;
}

.btn-white::after {
    background-color: #100101;
    opacity: 1;
    border: .4px solid #cbd0e0; /* Green */
}

.btn:hover::after {
    transform: scaleX(1.4)scaleY(1.6);
    opacity: 0;
}


@keyframes movebotton {
    0% {
        opacity: 0;
        transform: translateY(-100);
    }

    80% {
        transform: translateY(20);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}






.btn-animated {
    animation: moveInBoton .1s ease-out 1s;
    animation-fill-mode: backwards;
    animation-duration: 1s;
    animation-delay: 7s;
    animation-iteration-count: 1;
    transform: translate(0);
    position: absolute;
    top: 174%;
    left: 78%;
}










.button2 {
    transform: translate(0);
    position: absolute;
    top: 74%;
    left: 50.0%;
    opacity: .7;
}

.button3 {
    transform: translate(0);
    position: absolute;
    top: 74%;
    left: 30.0%;
    opacity: .7;
}

.button4 {
    transform: translate(0);
    position: absolute;
    top: 74%;
    left: 10.0%;
    opacity: .7;
}


@keyframes movebotton {
    0% {
        opacity: 0;
        transform: translateY(-100);
    }

    80% {
        transform: translateY(20);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}






.btn-animated {
    animation: moveInBoton .1s ease-out 1s;
    animation-fill-mode: backwards;
    animation-duration: 1s;
    animation-delay: 7s;
    animation-iteration-count: 1;
    transform: translate(0);
    position: absolute;
    top: 174%;
    left: 78%;
}


@keyframes moveInBoton2 {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }

    80% {
        transform: translateY(20);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBoton1 {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }

    80% {
        transform: translateY(20);
        top: 25%;
        left: 13%;
    }

    100% {
        opacity: 1;
        transform: translate(0);
        top: 29%;
        left: 13%;
    }
}

@keyframes moveInBoton3 {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }

    80% {
        transform: translateY(20);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.eyes22 {
    animation: moveInBoton2 .2s ease-out 2s;
    animation-fill-mode: backwards;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    opacity: 0.8;
}

.eyes33 {
    animation: moveInBoton1 .3s ease-out 3s;
    animation-fill-mode: backwards;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    opacity: 1;
    transform: translate(0);
    position: absolute;
    opacity: 0.2;
    top: 39%;
    left: 13%;
}

    .eyes33:hover {
        transform: translateY(1px);
        box-shadow: 0 70px 170px rgba($color-lightgreen,.2);
        color: #fff;
        opacity: 0.9;
    }

.eyes44 {
    animation: moveInBoton3 .4s ease-out 4s;
    animation-fill-mode: backwards;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: 1;
    opacity: .4;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    display: inline-block;
    position: relative;
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 50%;
    transform: translate(0);
    position: absolute;
    top: 44%;
    left: 18%;
}

.eyes55 {
    filter: alpha(opacity=50); /* For IE8 and earlier */
    display: inline-block;
    position: relative;
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 50%;
    transform: translate(0);
    position: absolute;
    top: 44%;
    left: 18%;
    opacity: .0;
    color: #3cf784;
    font-size: 45px;
    animation-name: moveInRight2;
    animation-duration: .5s;
    animation-delay: 6s;
    animation-iteration-count: 2;
    animation-timing-function: ease-out;
    color: #fff;
}

.eyes44:hover {
    transform: translateY(1px);
    box-shadow: 0 70px 170px rgba($color-lightgreen,.2);
    color: #fff;
    opacity: 0.9;
}

.
eyes55:hover {
    transform: translateY(1px);
    box-shadow: 0 70px 170px rgba($color-lightgreen,.2);
    color: #fff;
    opacity: 0.05;
}

.text1 {
    color: azure;
    transform: translate(0);
    position: absolute;
    top: 64%;
    left: 20%;
    opacity: .7;
}


@keyframes AmoveInBoton1 {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }

    80% {
        transform: translateY(20);
        top: 25%;
        left: 33%;
    }

    100% {
        opacity: 1;
        transform: translate(0);
        top: 29%;
        left: 33%;
    }
}


.Aeyes33 {
    animation: AmoveInBoton1 .3s ease-out 3s;
    animation-fill-mode: backwards;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    opacity: 1;
    transform: translate(0);
    position: absolute;
    opacity: 0.2;
    top: 39%;
    left: 33%;
}

    .Aeyes33:hover {
        transform: translateY(1px);
        box-shadow: 0 70px 170px rgba($color-lightgreen,.2);
        color: #fff;
        opacity: 0.9;
    }

.Aeyes44 {
    animation: moveInBoton3 .4s ease-out 4s;
    animation-fill-mode: backwards;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: 1;
    opacity: .4;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    display: inline-block;
    position: relative;
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 50%;
    transform: translate(0);
    position: absolute;
    top: 44%;
    left: 38%;
}

.Aeyes55 {
    filter: alpha(opacity=50); /* For IE8 and earlier */
    display: inline-block;
    position: relative;
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 50%;
    transform: translate(0);
    position: absolute;
    top: 44%;
    left: 38%;
    opacity: .0;
    color: #3cf784;
    font-size: 45px;
    animation-name: moveInRight2;
    animation-duration: .5s;
    animation-delay: 6s;
    animation-iteration-count: 2;
    animation-timing-function: ease-out;
    color: #fff;
}

.Beyes44:hover {
    transform: translateY(1px);
    box-shadow: 0 70px 170px rgba($color-lightgreen,.2);
    color: #fff;
    opacity: 0.9;
}

.Beyes55:hover {
    transform: translateY(1px);
    box-shadow: 0 70px 170px rgba($color-lightgreen,.2);
    color: #fff;
    opacity: 0.2;
}

.Btext1 {
    color: azure;
    transform: translate(0);
    position: absolute;
    top: 64%;
    left: 38.5%;
    opacity: .7;
}

.Aeyes44:hover {
    transform: translateY(1px);
    box-shadow: 0 70px 170px rgba($color-lightgreen,.2);
    color: #fff;
    opacity: 0.9;
}

.Aeyes55:hover {
    transform: translateY(1px);
    box-shadow: 0 70px 170px rgba($color-lightgreen,.2);
    color: #fff;
    opacity: 0.2;
}

.Atext1 {
    color: azure;
    transform: translate(0);
    position: absolute;
    top: 64%;
    left: 39.4%;
    opacity: .7;
}


@keyframes moveInRight2 {
    0% {
        opacity: .6;
        transform: translate(0px);
    }

    80% {
        transform: translate(0px);
        opacity: .8;
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes BmoveInBoton1 {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }

    80% {
        transform: translateY(20);
        top: 25%;
        left: 53%;
    }

    100% {
        opacity: 1;
        transform: translate(0);
        top: 29%;
        left: 53%;
    }
}

.Beyes33 {
    animation: BmoveInBoton1 .3s ease-out 3s;
    animation-fill-mode: backwards;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    opacity: 1;
    transform: translate(0);
    position: absolute;
    opacity: 0.2;
    top: 39%;
    left: 53%;
}




    .Beyes33:hover {
        transform: translateY(1px);
        box-shadow: 0 70px 170px rgba($color-lightgreen,.2);
        color: #fff;
        opacity: 0.9;
    }


.Beyes44 {
    animation: moveInBoton3 .4s ease-out 4s;
    animation-fill-mode: backwards;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: 1;
    opacity: .4;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    display: inline-block;
    position: relative;
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 50%;
    transform: translate(0);
    position: absolute;
    top: 44%;
    left: 58%;
}

.Beyes55 {
    filter: alpha(opacity=50); /* For IE8 and earlier */
    display: inline-block;
    position: relative;
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 50%;
    transform: translate(0);
    position: absolute;
    top: 44%;
    left: 58%;
    opacity: .0;
    color: #3cf784;
    font-size: 45px;
    animation-name: moveInRight2;
    animation-duration: .5s;
    animation-delay: 6s;
    animation-iteration-count: 2;
    animation-timing-function: ease-out;
    color: #fff;
}

.Beyes44:hover {
    transform: translateY(1px);
    box-shadow: 0 70px 170px rgba($color-lightgreen,.2);
    color: #fff;
    opacity: 0.9;
}

.Beyes55:hover {
    transform: translateY(1px);
    box-shadow: 0 70px 170px rgba($color-lightgreen,.2);
    color: #fff;
    opacity: 0.2;
}

.Btext1 {
    color: azure;
    transform: translate(0);
    position: absolute;
    top: 64%;
    left: 58.5%;
    opacity: .7;
}

@keyframes CmoveInBoton1 {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }

    80% {
        transform: translateY(20);
        top: 25%;
        left: 73%;
    }

    100% {
        opacity: 1;
        transform: translate(0);
        top: 29%;
        left: 73%;
    }
}

.Ceyes33 {
    animation: CmoveInBoton1 .3s ease-out 3s;
    animation-fill-mode: backwards;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    opacity: 1;
    transform: translate(0);
    position: absolute;
    opacity: 0.2;
    top: 39%;
    left: 73%;
}

    .Ceyes33:hover {
        transform: translateY(1px);
        box-shadow: 0 70px 170px rgba($color-lightgreen,.2);
        color: #fff;
        opacity: 0.9;
    }

.Ceyes44 {
    animation: moveInBoton3 .4s ease-out 4s;
    animation-fill-mode: backwards;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: 1;
    opacity: .4;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    display: inline-block;
    position: relative;
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 50%;
    transform: translate(0);
    position: absolute;
    top: 44%;
    left: 78%;
}

.Ceyes55 {
    filter: alpha(opacity=50); /* For IE8 and earlier */
    display: inline-block;
    position: relative;
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 50%;
    transform: translate(0);
    position: absolute;
    top: 44%;
    left: 78.0%;
    opacity: .0;
    color: #3cf784;
    font-size: 45px;
    animation-name: moveInRight2;
    animation-duration: .5s;
    animation-delay: 6s;
    animation-iteration-count: 2;
    animation-timing-function: ease-out;
    color: #fff;
}

.Ceyes44:hover {
    transform: translateY(1px);
    box-shadow: 0 70px 170px rgba($color-lightgreen,.2);
    color: #fff;
    opacity: 0.9;
}

.Ceyes55:hover {
    transform: translateY(1px);
    box-shadow: 0 70px 170px rgba($color-lightgreen,.2);
    color: #fff;
    opacity: 0.0;
}

.Ctext1 {
    color: azure;
    transform: translate(0);
    position: absolute;
    top: 64%;
    left: 78%;
    opacity: .7;
}
