@model ReviewWebsiteProject.Models.Review
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link href="https://fonts.googleapis.com/css?family=Tomorrow&display=swap" rel="stylesheet">
</head>
<body>

    <h4>Review</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Reviewer Name:</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="Date" type="hidden" class="control-label"></label>*@
                    <input asp-for="Date" value="@DateTime.Now.ToString("dd/MM/yyyy")"type="hidden" class="form-control" />
                    <span asp-validation-for="Date" type="hidden" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div><label asp-for="Content" class="control-label"></label></div>
                    <textarea asp-for="Content" class="form-control" cols="30" rows="10"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input name="ProductId" type="hidden" value=@ViewBag.ProductId class="form-control" />
                    <span asp-validation-for="ProductId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a href="/Product/Details/@ViewBag.ProductId"> Go Back </a>
    </div>

</body>
</html>
