@model ReviewWebsiteProject.Models.Review
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link rel="stylesheet" href="~/css/crudsheet.css" />
    <link href="https://fonts.googleapis.com/css?family=Tomorrow&display=swap" rel="stylesheet">
</head>
<body>
    <div class="crudflexbox">

    <h4>@Model.Product.Name Review</h4>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Update">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Reviewer Name:</label>
                    <label class="control-label">@Model.Name</label>
                    <input type="hidden" asp-for="Name" value=@Model.Name>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="Date" type="hidden" class="control-label"></label>*@
                    <input value="@DateTime.Now.ToString("MM/dd/yyyy")" type="hidden" class="form-control" />
                </div>
                <div class="form-group">
                    @*<label asp-for="Id" class="control-label"></label>*@
                    <input asp-for="Id" type="hidden" class="form-control" />
                    @*<span asp-validation-for="Id" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <div><label class="control-label">The Review:</label></div>
                    <textarea asp-for="Content" class="form-control" cols="30" rows="10"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="ProductId" class="control-label"></label>*@
                    <input asp-for="ProductId" type="hidden" class="form-control" />
                    @*<span asp-validation-for="ProductId" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-white btn-animated" />
                </div>
            </form>
        </div>

        <div>
            <br>
            <a href="/Product/Details/@Model.ProductId" class="btn btn-white btn-animated">Back to Details</a>
            <a asp-action="Index"></a>
        </div>

    </div>
</body>
</html>
