
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="vendors/css/ionicons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet">
    <link href="http://fonts.googleeapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>




    <link rel=stylesheet href="~/css/style33.css">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
    <title>ArcadePanelHome</title>

</head>
<body>



    <header class="header">
        <section class="header2">

            <DIV class=logo-box>
            </DIV>
            <div class="text-box">
                <h1 class="heading-primary">
                    <BR>
                    <span class="header-primary-main2">ARCADE</span><span class="header-primary-main"> R e v i e w Panel</span>
                    <span class="header-primary-sub">"Don't grow up </span>
                    <span class="header-primary-sub2"> it's a trap"</span>
                </h1>

                <a href="/Home/Index" class="btn btn-white btn-animated">H o m e</a>
                <a href="/Product/Index" class="btn btn-white btn-animated">A R C A D E  G A M E S</a>
                <a href="/Home/AboutUs" class="btn btn-white btn-animated">A b o u t   u s</a><BR>
                <div class="footer2"><i class="ion-ios-heart" style="color: #ea0000; padding: 0 2px;"></i> TOM  ERIC  DAN  GHASSAN  © 2020</div>
</body>
</html>
