@model ReviewWebsiteProject.Models.ProductModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />

</head>
<body>
    <h2>Name: @Model.Name</h2>
    <p>Description: @Model.Description</p>
    <p>Review: @Model.Review</p>
    <div>
        <img class="img" src=@Model.Image />
    </div>
    <a href="/Product/Index">Back to all products</a>
</body>
</html>
