@model ReviewWebsiteProject.Models.ProductModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>


</head>
<body>
    <h2>Name: @Model.Name</h2>
    <p>Description: @Model.Description</p>
    <a href="/Product/ProductIndex">Back to home</a>
</body>
</html>
