@model IEnumerable<ReviewWebsiteProject.Models.Product>

    <div class="body">
        <div class="flex-container">

            @foreach (var product in Model)
            {
                <div class="flex-item">
                    <h3 class="flex-element">@product.Name</h3>

                    <a href="/Product/Details/@product.Id" class="btn btn-white btn-animated">Details</a>

                    <p class="flex-element">@product.Description</p>
                    <img class="img" src=@product.Image />
                </div>
            }
        </div>
    </div>