@model IEnumerable<ReviewWebsiteProject.Models.Product>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Tomorrow&display=swap" rel="stylesheet">
    <title>Our Products</title>
</head>
<body>
    <header class="header">
        <section class="header2">
            <div class="text-box">
                <h1 class="heading-primary">
                    <BR>
                    <span class="header-primary-main2">A R C A D E&nbsp;&nbsp;&nbsp;&nbsp;R E V I E W S</span>

                </h1>

                <a href="/Home/Index" class="btn btn-white btn-animated">H o m e</a>
                <a href="/Product/Index" class="btn btn-white btn-animated">A R C A D E  G A M E S</a>
                <a href="AboutUs" class="btn btn-white btn-animated">A b o u t   u s</a><BR>
            </div>
            <div class="footer2"><i class="ion-ios-heart" style="color: #ea0000; padding: 0 2px;"></i> TOM  ERIC  DAN  GHASSAN  © 2020</div>
        </section>
    </header>

    <div class="body">
        <hr 
            ::before
            ::after
        />
        <div class="flex-container">

            @foreach (var product in Model)
            {
                <div class="flex-item">
                    <h3 class="flex-element">@product.Name</h3>

                    <a href="/Product/Details/@product.Id" class="btn btn-white btn-animated">Details</a>



                    <p class="flex-element">@product.Description</p>
                    <img class="img" src=@product.Image />
                </div>
            }
        </div>
    </div>
    <div id="footer">Tom Ghassan Eric Dan </div>
</body>
</html>

