@model IEnumerable<ReviewWebsiteProject.Models.Product>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link href="https://fonts.googleapis.com/css?family=Tomorrow&display=swap" rel="stylesheet">
    <title>Index</title>
</head>
<body>
    <h1>Our Products</h1>

    @foreach (var product in Model)
    {
        <div class="products">
            <ul class="list">
                <li>@product.Name</li>
                <li>@product.Description</li>
                <li><a href="/Product/Details/@product.Id">Details</a></li>

            </ul>
            <img class="img" src=@product.Image />
        </div>
    }
    </div>

</body>
</html>
