@model IEnumerable<ReviewWebsiteProject.Models.Product>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link href="//db.onlinewebfonts.com/c/335787aa6f57d71cabe8eb5dc89c6d6b?family=Blender+Pro" rel="stylesheet" type="text/css" />
    <title>Index</title>
</head>
<body>
    <h1>Our Products</h1>
    <div>
        @foreach (var product in Model)
        {
            <ul>
                <li>@product.Name</li>
                <li><a href="/Product/Details/@product.Id">Details</a></li>
                <li>@product.Description</li>
            </ul>
            <img class="img" src=@product.Image />

        }
    </div>

</body>
</html>
