@model IEnumerable<ReviewWebsiteProject.Models.Product>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link href="https://fonts.googleapis.com/css?family=Tomorrow&display=swap" rel="stylesheet">
    <title>Index</title>
</head>
<body>
    <header> Our Project </header>
    <div class="column">
        <div class="row">
           
            @foreach (var product in Model)
            {
                <div class="column">
                    <h3>@product.Name</h3>
                    <a href="/Product/Details/@product.Id">Details</a>
                    <p>@product.Description</p>
                 
                    <img class="img" src=@product.Image />
                </div>
            }
        </div>
    </div>
    <footer>Tom Ghassan Eric Dan </footer>
</body>
</html>

