@model IEnumerable<ReviewWebsiteProject.Models.ProductModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Products</h1>
    <table class="table" border="3px">
        @foreach (var product in Model)
        {
        <tr>
            <td>  <h3>Name: @product.Name</h3></td>
            <td>@if(@product.Image=="1.jpg")
            {
            <img src="https://cdn.shopify.com/s/files/1/0082/4092/2686/products/cabinet-pacman_2048x.png?v=1581102926"  width="100px"/>
            }
            @if(@product.Image=="2.jpg")
            {
            <img src="https://cdn.shopify.com/s/files/1/0089/4550/0260/products/GauntletLegends22_800x.jpg?v=1565723610"  width="100px"/>
            }
            @if(@product.Image=="3.jpg")
            {
            <img src="https://www.robotshop.com/media/files/images3/rb-imp-02_1.jpg"  width="100px"/>
            }
            </td>
            <td>  <a href="/Product/Details/@product.Id">Details</a></td>
        </tr>
        }
    </table>

</body>
</html>
