@model IEnumerable<ReviewWebsiteProject.Models.ProductModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Products</h1>
    @foreach(var product in Model)
    { 
        <h3>Name: @product.Name</h3>
        <a href="/Product/Details/@product.Id">Details</a>
        <hr />
    }
</body>
</html>
